<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_Dates>
            <version>1.0.0</version>
        </Edge_Dates>
    </modules>
    <global>
        <blocks>
            <dates>
                <class>Edge_Dates_Block</class>
            </dates>
        </blocks>
        <models>
            <dates>
                <class>Edge_Dates_Model</class>
                <resourceModel>dates_resource</resourceModel>
            </dates>
            <dates_resource>
                <class>Edge_Dates_Model_Resource</class>
                <entities>
                    <dates>
                        <table>dates</table>
                    </dates>
                </entities>
            </dates_resource>
        </models>
        <helpers>
            <dates>
                <class>Edge_Dates_Helper</class>
            </dates>
        </helpers>
        <resources>
            <dates_setup>
                <setup>
                    <module>Edge_Dates</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dates_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <dates>
                <use>admin</use>
                <args>
                    <module>Edge_Dates</module>
                    <frontName>dates</frontName>
                </args>
            </dates>
        </routers>
    </admin>
</config>
